html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.box {
  background-color: transparent;
  color: white;
  font-size: xx-large;
  font-weight: normal;
  position: absolute;
  left: 990px;
  top: 5px;
  -webkit-text-stroke: 0.7px black;
}